<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SuccessWPF" type="SuccessWPF.Configuration, SuccessLib.Framework" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <SuccessWPF Major="1" Minor="10" Build="100" Revision="1000">
  </SuccessWPF>

</configuration>